<footer class="footer">
    <div class="container-fluid">
        <div class="text-muted">Proudly powered by
            XBackBone{% if session.logged %} v{{ PLATFORM_VERSION }}{% endif %}</div>
    </div>
</footer>