<div class="modal fade" id="modalVanity" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ lang('vanity_url') }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" id="modalVanity-input" >
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary media-vanity" id="modalVanity-link"><i class="fas fa-check fa-fw"></i> {{ lang('confirm') }}</>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ lang('no') }}</button>
            </div>
        </div>
    </div>
</div>