
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 40px;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.admin-img {
    max-height: 25px;
}

.user-img {
    max-height: 192px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: right;
}