<footer class="footer">
    <div class="container-fluid">
        <div class="text-muted">Proudly powered by
            <a href="https://github.com/SergiX44/XBackBone">XBackBone v{{ PLATFORM_VERSION }}</a>
        </div>
    </div>
</footer>