{% extends 'base.twig' %}

{% block title %}Forbidden{% endblock %}

{% block content %}
    <div class="container-fluid mt-5">
        <div class="text-center">
            <h1 class="display-1">400 Bad Request</h1>
            <p class="lead">The server cannot or will not process the request due to an apparent client error.</p>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}