{% extends 'base.twig' %}

{% block title %}Forbidden{% endblock %}

{% block content %}
    <div class="container-fluid mt-5">
        <div class="text-center">
            <h1 class="display-1">403 Forbidden</h1>
            <p class="lead">Access denied to the requested resource.</p>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}