{% extends 'base.twig' %}

{% block title %}Method Not Allowed{% endblock %}

{% block content %}
    <div class="container-fluid mt-5">
        <div class="text-center">
            <h1 class="display-1">405 Method Not Allowed</h1>
            <p class="lead">The method received in the request line is not supported by the target resource.</p>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}