{% extends 'base.twig' %}

{% block title %}Under maintenance{% endblock %}

{% block content %}
    <div class="container-fluid mt-5">
        <div class="text-center">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="display-1">Under maintenance</h1>
                    <p class="lead">We'll be back very soon! :)</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}