
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 40px;
    font-size: 1rem;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input.first {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input.middle {
    margin-bottom: -1px;
    border-radius: 0;
}

.form-signin input.last {
    margin-bottom: .50rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.user-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.user-img-overlay {
    opacity: 0;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}

.card-img-overlay:hover .user-img-overlay {
    opacity: 1;
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}

.btn-outlink {
    padding: 25% 0;
}

.btn-outlink:hover, .btn-outlink:active, .btn-outlink:focus, .btn-outlink:not(:disabled):not(.disabled):focus {
    background-color: transparent;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: right;
}

@media (max-width: 576px) {
    .media-player {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .media-audio {
        margin-top: 40vh;
    }
}

@media (min-width: 768px) {
    .media-player {
        width: 77%;
        margin-right: auto;
        margin-left: auto;
    }

    .media-audio {
        margin-top: 40vh;
    }
}

.dropzone {
    min-height: 300px;
    border: 2px dashed rgba(0, 0, 0, 0.3);
    background: none;
    padding: 20px 20px;
}

.dropzone .dz-image {
    border-radius: .25rem !important;
}

.system-tile {
    font-size: 2.5rem;
}

.pdf-viewer {
    width: 100%;
    height: 85vh
}

.grecaptcha-badge {
    top: 5px !important;
}

.text-maxlen {
    display: inline-block;
    max-width: 330px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-maxlen:hover {
    overflow: auto;
    text-overflow: unset;
}
